<!-- Add html to appear below each page's text here (e.g., footer) --> 

<br>
<br>
<footer>
<p>Made using 
<a href="https://gitlab.com/joao-o-santos/make-it-stop">make it_stop</a>
static website generator<p>
</footer>

</body>
</html>
